<div class="col-md-3 text-end">
        @Html.ActionLink("Login", "Login", "User", null, new {@class="btn btn-outline-primary me-2"})
        @Html.ActionLink("Sign-Up", "Register", "User", null, new {@class="btn btn-primary"})
</div>