@model IEnumerable<RecipeModel>

@{
    foreach (var recipeModel in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=data:image;base64,@recipeModel.ImageBase64 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@recipeModel.Title</h5>
                <p class="card-text">@recipeModel.Preparation</p>
                @Html.ActionLink("Show Recipe", "ShowRecipe", "Recipe", new {id=@recipeModel.Id},new {@class="btn btn-primary"})
            </div>
        </div> 
    }
}