@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <label>Title</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
    </div>
    <label>Ingredients</label>
    <div class="input-group">
        <textarea class="form-control" placeholder="Ingredients" aria-label="Ingredients"></textarea>
    </div>
    <label>Preparation</label>
    <div class="input-group">
        <textarea class="form-control" placeholder="Preparation" aria-label="Preparation"></textarea>
    </div>
    <br/>
    <button type="button" class="btn btn-primary btn-lg" onclick="">Submit</button>
</div>